#######################
# Visual Studio files #
#######################
*.suo
*.user
*.sdf
ipch/
.vs/

##################
# Python Ness    #
##################
__pycache__/
env/
*.pyc

##################
# Compiled files #
##################
linux/
bin/
obj/
Release/
Debug/
*.dll
*.exe
*.pdb
*.obj
*.log
*.tlog
*.htm
*.pch
watchlist.db

#####################
# OS-specific files #
#####################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.pyproj
*.pyd
ip2asn-v4.tsv
*.tsv
